<div class="mt-2">
  <button
    class="btn btn-voltar mb-2"
    (click)="router.navigateByUrl('/pedidos')"
  >
    <i class="fas fa-arrow-left"></i>
    Voltar
  </button>
</div>
<mat-card [ngClass]="{'border-success': pedido.aprovacao, 'border-danger': !pedido.aprovacao, 
'border-white': pedido.aprovacao == null}" class="mt-1 alinhar-cards border border-4 shadow p-3 mb-5 bg-white rounded">
  <mat-card-title><strong>Detalhes pedido</strong></mat-card-title>
  <div class="row mt-1">
    <div class="col-3">
      <mat-label>Nº do pedido</mat-label>
      <strong>
        <p class="mt-2">{{ pedido.numeroPedido }}</p>
      </strong>
    </div>
    <div class="col-3">
      <mat-label>Data de solicitação</mat-label>
      <strong>
        <p class="mt-2">
          {{ pedido.dataSolicitacao | date: "dd/MM/yyyy hh:mm" }}
        </p>
      </strong>
    </div>
    <div class="col-3">
      <mat-label>Data de aprovação</mat-label>
      <strong>
        <p class="mt-2">
          {{ pedido.dataAprovacao | date: "dd/MM/yyyy hh:mm" }}
        </p>
      </strong>
    </div>
    <div class="col-3">
      <mat-label>Situação</mat-label>
      <strong>
        <p *ngIf="pedido.aprovacao" class="mt-2">
          Aprovado
          <i class="fas fa-check-circle icon-aprovado"></i>
        </p>
        <p *ngIf="!pedido.aprovacao && pedido.aprovacao != null" class="mt-2">
          Reprovado
          <i class="fas fa-times-circle icon-reprovado"></i>
        </p>
        <p *ngIf="pedido.aprovacao == null" class="mt-2">
          Aguardando
          <i class="fas fa-clock icon-aguardando"></i>
        </p>
      </strong>
    </div>
  </div>
</mat-card>

<mat-card class="alinhar-cards border shadow p-3 mb-5 bg-white rounded">
  <mat-card-title><strong>Detalhes despesas</strong></mat-card-title>
  <div class="row mt-1">
    <div class="col-4">
      <mat-label>Nº do despesas</mat-label>
      <strong>
        <p class="mt-2">{{ pedido.numeroDespesas }}</p>
      </strong>
    </div>
    <div class="col-4">
      <mat-label>Departamento</mat-label>
      <strong>
        <p class="mt-2">{{ pedido.departamento }}</p>
      </strong>
    </div>
    <div class="col-4">
      <mat-label>Projeto</mat-label>
      <strong>
        <p class="mt-2">{{ pedido.projeto }}</p>
      </strong>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-9">
      <mat-label>Título despesas</mat-label>
      <strong>
        <p class="mt-2">{{ pedido.tituloDespesas }}</p>
      </strong>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      <mat-label>Descrição de despesas</mat-label>
      <strong>
        <p class="mt-2">{{ pedido.descricaoDespesas }}</p>
      </strong>
    </div>
  </div>

  
  <mat-accordion >
    <mat-expansion-panel class="border" [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-card-title>
            <strong>Total da despesa:</strong>
            {{ pedido.total | currency: 'BRL' }}
          </mat-card-title>        
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-4">
          <mat-label>Vencimento</mat-label>
          <p><strong>10/02/2020</strong></p>
        </div>
        <div class="col-4">
          <mat-label>Valor</mat-label>
          <p><strong>{{ pedido.valorPedido | currency: 'BRL' }}</strong></p>
        </div>
        <div class="col-4">
          <label>Parcelas</label>
          <p><strong>{{ pedido.qtdParcelas }}</strong></p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
