<mat-card class="border alinhar-card mt-4 shadow p-3 mb-5 bg-white rounded">
  <div class="row">
    <div class="col-6">
      <button
        *ngIf="temAcaoAprovarPedido"
        class="mt-3 btn-aprovar-pedidos btn"
        (click)="aprovaPedidos()"
        [disabled]="!pedidosAprovacao.length"
      >
        <i class="far fa-check-circle"></i>
        Aprovar Selecionados *
      </button>
    </div>
    <div class="col-6"></div>
  </div>

  <mat-card
    class="mt-3 border"
    *ngFor="let pedido of pedidos"
    (click)="adicionarNaLista(pedido)"
    [class.bg-warning]="temNaLista(pedido)"
  >
    <div class="row">
      <div class="col-5">
        <p><strong>Nome Fantasia:</strong> {{ pedido.nomeFantasia }}</p>
        <p><strong>Total:</strong> {{ pedido.total | currency: "BRL" }}</p>
        <p>
          <strong>Aprovação:</strong>
          <span *ngIf="pedido.aprovacao">
            Aprovado
            <i class="fas fa-check-circle icon-aprovado"></i>
          </span>
          <span *ngIf="!pedido.aprovacao && pedido.aprovacao != null">
            Reprovado
            <i class="fas fa-times-circle icon-reprovado"></i>
          </span>
          <span *ngIf="pedido.aprovacao == null">
            Aguardando
            <i class="fas fa-clock icon-aguardando"></i>
          </span>
        </p>
      </div>
      <div class="col-6">
        <p><strong>Razão Social:</strong> {{ pedido.razaoSocial }}</p>
        <p><strong>Qnt. de parcelas:</strong> {{ pedido.qtdParcelas }}</p>
      </div>
    </div>
    <div class="btn-group">
      <button class="mt-2 btn btn-primary" (click)="detalhes(pedido.id)">
        <i class="fas fa-info-circle"></i>
        Visualizar
      </button>
      <button
        *ngIf="pedido.aprovacao == null && temAcaoAprovarPedido"
        class="mt-2 btn btn-success"
        (click)="aprovaPedido(pedido)"
      >
        <i class="far fa-check-circle"></i>
        Aprovar
      </button>
    </div>
  </mat-card>
  <div>
    <mat-paginator
      #paginacao
      [length]="totalItens"
      [pageSizeOptions]="[5, 10, 20, 50]"
      (page)="trocarPagina()"
    >
    </mat-paginator>
  </div>
</mat-card>
