button {
  font-weight: bolder;
}

.alinhar-card {
  margin-left: 150px;
  margin-right: 150px;
}

.icon-aprovado {
  color: #28a745;
}

.icon-reprovado {
  color: red;
}

.icon-aguardando {
  color: black;
}

.btn-aprovar-pedidos {
  background-color: #134d8d;
  color: white;
}

.mat-snack-bar-container.success {
  background: #1de9b6 !important;
}

.ajusta-posicao-botao-aprovar {
  margin-left: 06px;
}
