body {
    background-color: #f9faffad;
}
.logo {
    padding: 05px;
    max-width:120px;
    max-height:100px;
    width: auto;
    height: auto;
    margin-left: 30px;
}

.alinharCard {
    margin-left: 150px;
    margin-right: 150px;
}

.navbar {
    display: block !important;
    background-color: #134d8d;
}

.title-1 {
    color: white;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

.alinharBtns {
    margin-right: 10px;
}

.ajusteCheckBox {
    margin-top: 32px;
    width: 10px;
}

.setCorPesquisa {
    background-color: white;
}